<?xml version="1.0" encoding="UTF-8"?>
<DataDefinition>
	<Element>
		<source>
			<sourcePath>C:\Users\sujatanaik\Desktop\Tibco_udemy_bw\Files\Input\Portugal\</sourcePath>
			<sourceFilePattern>*</sourceFilePattern>
		</source>
		<target>
			<targetPath>C:\Users\sujatanaik\Desktop\Tibco_udemy_bw\Files\Output\Portugal\</targetPath>
		</target>
		<messageSelector>PT</messageSelector>
	</Element>
	<Element>
		<source>
			<sourcePath>C:\Users\sujatanaik\Desktop\Tibco_udemy_bw\Files\Input\Spain\</sourcePath>
			<sourceFilePattern>*</sourceFilePattern>
		</source>	
		<target>
			<targetPath>C:\Users\sujatanaik\Desktop\Tibco_udemy_bw\Files\Output\Spain\</targetPath>
		</target>
		<messageSelector>SP</messageSelector>
	</Element>
	<Element>
		<source>
			<sourcePath>C:\Users\sujatanaik\Desktop\Tibco_udemy_bw\Files\Input\Germany\</sourcePath>
			<sourceFilePattern>*</sourceFilePattern>
		</source>
		<target>
			<targetPath>C:\Users\sujatanaik\Desktop\Tibco_udemy_bw\Files\Output\Germany\</targetPath>
		</target>
		<messageSelector>GER</messageSelector>
	</Element>
</DataDefinition>